*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
.section{
    background-color: rgb(247, 239, 228);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.maindiv{
    height: 65vh;
    width: 50vw;
    border-radius: 15px;
    display: flex;
}
.img_div{
    width: 385px;
    background-color: rgb(163, 105, 30);
    border-radius: 15px 0px 0px 15px;

}
.text_div{
    width: 385px;
    background-color: #fff;
    border-radius: 0px 15px 15px 0px;
}
img{
    height: 65vh;
    width: 385px;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
}